<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operation</title>
</head>
<body>
    <center>
        <h1>CRUD With PostgreSQL</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Medicine Name</th>
                <th>Prescribed by</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.patientname}</td>
                <td>{{result.gender}}</td>
                <td>{{result.age}}</td>
                <td>{{result.medicinename}}</td>
                <td>{{reult.empname}}</td>
                <td>{{reult.price}}</td>
                <td>{{result.prescription_date}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>